<button (click)="sortByAsccending()">正序排列</button>
<button (click)="sortByDesccending()">倒序排列</button>
<button (click)="sortByRadom()">随机打乱</button>
<button (click)="deleteLast()">删除</button>
<button (click)="saveNewUser()">新增一个</button>
<br>
<table>
  <tbody>
    <tr style="background-color:blue;">
      <th>ID </th>
      <th style="width:100px;">商品种类 </th>
      <th>商品名称 </th>
      <th>单价 </th>
      <th>品牌 </th>
      <th>推荐购买指数 </th>
      <th>评论数 </th>
      <th>月销售量 </th>
    </tr>
  </tbody>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.index}}</td>
      <td>{{user.prodtype}}</td>
      <td>{{user.prodname}}</td>
      <td>{{user.price}} </td>
      <td><a target="_blank" href="http://github.com/{{user.github}}">{{user.brand}}</a></td>
      <td>{{user.zhishu}}</td>
      <td>{{user.pinglun}}</td>
      <td>{{user.monthcnt}}</td>
    </tr>
  </tbody>
</table>
